Package: webister
Version: 1.0-1
Section: base
Depends: php5, php5-mysql, telnet, mysql-server, python
Priority: optional
Architecture:all
Maintainer: Thomas Wilbur <dodiaraculus@outlook.com>
Description: Webister is a project that makes cloud computing
 easier, This software also comes with very small and light
 features of minimal servers.
